<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Releases by Year</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="header">
        <div class="logo">Data Science</div>
        <div class="div-btn-predict">
            <a id="btn-predict" href="predict">Predict</a>
        </div>
    </div>

    <div class="container">
        <div class="con-1">
            <div class="list-genres">
                <button class="btn-genre" id="btn-genre-action">Action</button>
                <button class="btn-genre" id="btn-genre-drama">Drama</button>
                <button class="btn-genre" id="btn-genre-comedy">Comedy</button>
                <button class="btn-genre" id="btn-genre-documentary">Documentary</button>
                <!-- <button class="btn-genre" id="btn-genre-adult">Adult</button> -->
                <button class="btn-genre" id="btn-genre-thriller">Thriller</button>
                <button class="btn-genre" id="btn-genre-romance">Romance</button>
                <button class="btn-genre" id="btn-genre-animation">Animation</button>
                <button class="btn-genre" id="btn-genre-family">Family</button>
                <button class="btn-genre" id="btn-genre-horror">Horror</button>
                <button class="btn-genre" id="btn-genre-crime">Crime</button>
                <button class="btn-genre" id="btn-genre-adventure">Adventure</button>
                <button class="btn-genre" id="btn-genre-fantasy">Fantasy</button>
                <button class="btn-genre" id="btn-genre-sci_Fi">Sci-Fi</button>
                <button class="btn-genre" id="btn-genre-mystery">Mystery</button>
                <button class="btn-genre" id="btn-genre-biography">Biography</button>
                <button class="btn-genre" id="btn-genre-history">History</button>
                <button class="btn-genre" id="btn-genre-sport">Sport</button>
                <button class="btn-genre" id="btn-genre-musical">Musical</button>
                <button class="btn-genre" id="btn-genre-war">War</button>
                <button class="btn-genre" id="btn-genre-western">Western</button>
                <!-- <button class="btn-genre" id="btn-genre-film_noir">Film Noir</button> -->
                <button class="btn-clear-genre" id="btn-clear-genre">Clear</button>
            </div>


            <div class="div-chart" id="chart-container">
                <canvas id="bar-chart"></canvas>
            </div>
        </div>

        <div class="con-2">
            <div class="div-chart" id="chart2-container">
                <canvas id="bar2-chart"></canvas>
            </div>

            <div class="div-chart" id="chart3-container">
                <canvas id="bar3-chart"></canvas>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
    <script src="../static/js/js1.js"></script>
    <script src="../static/js/js2.js"></script>
    <script src="../static/js/js3.js"></script>
    <script>
        let currentChart;
        let currentChart2;
        let currentChart3;
        document.addEventListener('DOMContentLoaded', function () {

            // Tạo HTTP request để tải dữ liệu từ file data.csv
            fetch('../static/final_merged.csv')
                .then(response => response.text())
                .then(csvData => {
                    processData(csvData, "blue", "");
                    processData2(csvData, "red", "");
                    processData3(csvData, "green", "");
                })
                .catch(error => console.error('Failed to load data.csv', error));
        });

        Array.from(document.getElementsByClassName('btn-genre')).forEach(function (btn) {
            btn.addEventListener('click', function () {
                const backgroundColor = getComputedStyle(btn).backgroundColor;
                const genre = btn.textContent;
                // Tạo HTTP request để tải dữ liệu từ file data.csv
                fetch('../static/final_merged.csv')
                    .then(response => response.text())
                    .then(csvData => {
                        processData(csvData, backgroundColor, genre);
                        processData2(csvData, backgroundColor, genre);
                        processData3(csvData, backgroundColor, genre);
                    })
                    .catch(error => console.error('Failed to load data.csv', error));
            });
        });

        document.getElementById("btn-clear-genre").addEventListener("click", function () {
            // Tạo HTTP request để tải dữ liệu từ file data.csv
            fetch('../static/final_merged.csv')
                .then(response => response.text())
                .then(csvData => {
                    processData(csvData, "blue", "");
                    processData2(csvData, "red", "");
                    processData3(csvData, "green", "");
                })
                .catch(error => console.error('Failed to load data.csv', error));
        });
    </script>

</body>

</html>