<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style_predict.css">
  <title>Document</title>
</head>

<!-- 
movie_name
month
year
runtime
genres
country
mpaa
budget
screens
meta_score
ratings
sequel
opening_week
 -->

<body>
  <h1>Dự đoán doanh thu phim</h1>
  <form class="multi-input-form">
    <div class="col col-1">

      <div class="input-group">
        <label class="label">Predict Opening Weekend?</label>
        <div class="radio-container">
          <input type="radio" id="opening_week_0" name="input-opening_week" value="0" checked>
          <label for="opening_week_0">No</label>
        </div>
        <div class="radio-container">
          <input type="radio" id="opening_week_1" name="input-opening_week" value="1">
          <label for="opening_week_1">Yes</label>
        </div>
      </div>

      <div class="input-group">
        <label for="input-movie_name" class="label">Movie name:</label>
        <input type="text" id="input-movie_name" name="input-movie_name">
      </div>
      <div class="release-date">
        <div class="input-group">
          <label for="input-month" class="label">Month:</label>
          <select class="sel-inp" id="input-month" name="input-month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="input-group">
          <label for="input-year" class="label">Year:</label>
          <select class="sel-inp" id="input-year" name="input-year">
            <!-- Loop through years from 1900 to 2024 -->
            <!-- This part will be dynamically generated in the backend -->
            <script>
              for (let year = 2000; year <= 2024; year++) {
                document.write(`<option value="${year}">${year}</option>`);
              }
            </script>
          </select>
        </div>
        <div class="input-group">
          <label for="input-mpaa" class="label">MPAA:</label>
          <select id="input-mpaa" name="input-mpaa">
            <option value="PG-13">PG-13</option>
            <option value="G">G</option>
            <option value="R">R</option>
            <option value="PG">PG</option>
            <option value="NC-17">NC-17</option>
          </select>
        </div>
      </div>

      <div class="input-group">
        <label for="input-runtime" class="label">Runtime:</label>
        <input type="text" id="input-runtime" name="input-runtime">
      </div>

      <div class="input-group">
        <label for="input-genres" class="label label-genres" id="label-genres">Genres: <div id="genres-list"></div>
        </label>
        <input type="text" id="input-genres" name="input-genres">
        <div id="genre-suggestions"></div>
        <button type="button" id="add-genre-btn">Thêm</button>
      </div>

      <div class="input-group">
        <label for="input-country" class="label label-country" id="label-country">Country: <div id="country-list"></div>
        </label>
        <input type="text" id="input-country" name="input-country">
        <div id="country-suggestions"></div>
        <button type="button" id="add-country-btn">Thêm</button>
      </div>

      <!-- Col 2 -->
    </div>
    <div class="col col-2">
      <div class="input-group">
        <label for="input-budget" class="label">Budget:</label>
        <input type="text" id="input-budget" name="input-budget">
      </div>
      <div class="input-group">
        <label for="input-screens" class="label">Screens:</label>
        <input type="text" id="input-screens" name="input-screens">
      </div>
      <div class="input-group">
        <label for="input-critic-vote" class="label">Critic Vote:</label>
        <input type="text" id="input-critic-vote" name="input-critic-vote">
      </div>
      <div class="input-group">
        <label for="input-meta_score" class="label">Meta score:</label>
        <input type="text" id="input-meta_score" name="input-meta_score">
      </div>
      <div class="input-group" id="div-inp-user-vote">
        <label for="input-user-vote" class="label">User Vote:</label>
        <input type="text" id="input-user-vote" name="input-user-vote">
      </div>
      <div class="input-group" id="div-inp-ratings">
        <label for="input-ratings" class="label">Ratings:</label>
        <input type="text" id="input-ratings" name="input-ratings">
      </div>

      <div class="input-group">
        <label class="label">Sequel:</label>
        <div class="radio-container">
          <input type="radio" id="sequel-0" name="input-sequel" value="0">
          <label for="sequel-0">0</label>
        </div>
        <div class="radio-container">
          <input type="radio" id="sequel-1" name="input-sequel" value="1">
          <label for="sequel-1">1</label>
        </div>
      </div>

      <div class="input-group" id="div-inp-opn-week">
        <label for="input-opening_week" class="label">Opening week:</label>
        <input type="text" id="input-opening_week" name="input-opening_week">
      </div>

      <div class="input-group btn-submit">
        <button type="submit" class="submit-button" id="submit-button">Submit</button>
      </div>
    </div>



  </form>
  <div class="popup-overlay" id="popup-overlay">
    <div class="popup-result">
      <h1>Kết quả dự đoán doanh thu</h1>
      <h2>Movie name: <span id="movie_name_h2"></span></h2>
      <h3 class="h-result">Kết quả: <span id="result"></span></h3>
      <h3 class="h-result">Lợi nhuận: <span id="loinhuan"></span></h3>

      <div class="div-chart" id="chart4-container">
        <canvas id="bar4-chart"></canvas>
      </div>

      <button id="cancel-popup">OK</button>
    </div>
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script src="../static/js/predict.js"></script>

</html>